
body {
  background-color: #c1ebff
}

.Wrapper {
  display: grid;
  height: 100vh;
  border: 3px;
  box-sizing: border-box;
  align-content: center;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.card-container {
  height: 18vh;
  width: 15vw;
  cursor: pointer;
  perspective: 600;
  position: relative;
  
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.flip {
  transform: rotateY(180deg);
}

.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
  background-color: #2196F3;
  border-radius: 5px;
  text-align: center;
  line-height: 18vh;
  font-size: 2em;
}
.card .back {
  background: #eaeaed;
  color: #0087cc;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}


